<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="window-modal-content-lg">
      <div layout="row" layout-align="center start" layout-margin layout-fill>
        <md-content flex class="md-padding page-content" style="max-width:1020px;">
          <div class="table-responsive">
            <table class="table table-condensed table-bordered table-matricula-inscripcion">
              <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->
              <tbody ng-repeat="(ciclo, cursos) in cursoshabilitados">
                <tr class="ng-table-group">
                  <td>
                    <a href class="groupTitle" ng-click="cursos.$hideRows = !cursos.$hideRows">
                      <span class="fa" ng-class="{ 'fa-chevron-right': cursos.$hideRows, 'fa-chevron-down': !cursos.$hideRows }"></span>
                      <strong>ciclo {{ ciclo }}</strong>
                    </a>
                  </td>
                </tr>
                <tr ng-hide="cursos.$hideRows" ng-repeat="curso in cursos">
                  <td>
                    <table class="inscripcion-horarios">
                      <thead>
                        <tr class="ng-table-group">
                          <th>Curso</th>
                          <th style="padding-right: 15px; padding-left:15px;">Código</th>
                          <th style="padding-right: 15px; padding-left:15px;">N° Cred</th>
                          <th style="padding-right: 15px; padding-left:15px;">N° Hrs</th>
                          <th style="padding-right: 15px; padding-left:15px;">Grupo</th>
                          <th style="padding-right: 15px; padding-left:15px;">Día</th>
                          <th style="padding-right: 15px; padding-left:15px;">Hr Inicio / Hr Fin</th>
                        </tr>
                      </thead>
                      <tr>
                        <td width="30%">
                          <a href class="groupTitle" ng-click="curso.$hideRows = !curso.$hideRows">
                            <span class="fa" ng-class="{ 'fa-chevron-right': curso.$hideRows, 'fa-chevron-down': !curso.$hideRows }"></span>
                            <strong>{{ curso._planestudiodetalle._curso.nombre }}</strong>
                          </a>
                        </td>
                        <td><strong>{{ curso._planestudiodetalle._curso.codigo }}</strong></td>
                        <td class="text-center"><strong>{{ curso._planestudiodetalle.creditos }} </strong></td>
                        <td class="text-center"><strong>{{ curso._planestudiodetalle.horas_total }} </strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr ng-hide="curso.$hideRows" ng-repeat="item in curso._grupos" ng-click="item.active=!item.active;EnabledEdit(item, curso)">
                        <td>
                          <span class="fa fa-square  fa-lg tc-blue-grey-50" ng-class="{'fa-check-square tc-{{$root.color.accent}}-500':item.active}"></span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">{{ item._seccion.nombre }}</td>
                        <td>
                          <md-list>
                            <md-list-item style="min-height: inherit!important" ng-repeat="horario in item._programaciones[0].horarios">
                              <p> {{ horario.dia }} </p>
                            </md-list-item>
                          </md-list>
                        </td>
                        <td data-title="'Hora Inicio / Hora Fin'">
                          <md-list>
                            <md-list-item style="min-height: inherit!important" ng-repeat="horario in item._programaciones[0].horarios">
                              <p> {{ horario.horaInicio | date : 'hh:mm' }} / {{ horario.horaFin | date : 'hh:mm' }} </p>
                            </md-list-item>
                          </md-list>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </md-content>
      </div>
    </md-dialog-content>
    <button ng-if="addMode" class="btn btn-success btn-block btn-inscription" ng-click="addCursos()">Actualizar Matrícula</button>
    <button ng-if="updateMode" class="btn btn-success btn-block col-md-3 btn-inscription" ng-click="addCursos()">Actualizar Matrícula</button>
  </form>
</md-dialog>
