<md-content class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3>{{UI.title}}</h3>
  </md-subheader>


  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <section>

        <div class="md-primary md-12-line">
          <md-list layout="column" layout-padding>
            <md-list-item>
              <img ng-src="/images/{{ALUMNO._persona.sexo}}.jpg" class="md-avatar">
              <div class="md-list-item-text">
                <h3>{{ ALUMNO._persona.nombres }} {{ ALUMNO._persona.apellidoPaterno }} {{ ALUMNO._persona.apellidoMaterno }}</h3>
                <p>{{ ALUMNO.codigo }}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
        <md-subheader>
          <h2 class=" tc-{{$root.color.primary}}-500">Proceso de Pre-Matrícula</h2>
          <br>
          <strong class=" tc-{{$root.color.primary}}-400">Periodo {{ UI.title  }}</strong>
        </md-subheader>
      </section>



      <!--tabla: contiene el listado de elementos-->
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
      <div ng-cloak>
        <md-content class="md-padding">
          <div flex layout="row">
            <div flex>
              <md-input-container class="md-block" >
                <label>Facultad</label>
                <input required name="codigo" ng-model="ALUMNO._escuela._facultad.nombre" ng-readonly="true">
              </md-input-container>
            </div>
            <div flex>
              <md-input-container class="md-block">
                <label>Escuela</label>
                <input required name="codigo" ng-model="ALUMNO._escuela.nombre" ng-readonly="true">
              </md-input-container>
            </div>
          </div>
          <div>Bienvenido al proceso de matricula. Por favor, seleccione uno o más cursos a los cuales desea matricularse:</div>
          <div class="table-responsive">
            <table show-filter="false" class="table table-hover table-condensed table-striped table-bordered ">
              <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->
              <thead>
                <tr class="ng-table-group">
                  <th class="text-center"><strong>Código</strong></th>
                  <th class="text-center"><strong>Nombre Curso</strong></th>
                  <th class="text-center"><strong>Ciclo</strong></th>

                  <th class="text-center"><strong>Grupo</strong></th>
                  <th class="text-center"><strong>Nro Créditos</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="cursosselected.length===0">
                  <td colspan="5"class="text-center">
                    <h4 style="color:#c2c2c2;height:100px;line-height: 100px;">
                      No se ha seleccionado ningun curso.Seleccione uno o mas cursos para realizar el proceso de matrícula

                    </h4>
                  </td>
                </tr>
                <tr ng-repeat="item in cursosselected" ng-click="item.active=!item.active;EnabledAdd(item)">
                  <td>{{ item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle._curso.codigo }}</td>
                  <td class="text-left">{{ item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle._curso.nombre }}</td>
                  <td class="text-left">{{ item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle.ciclo }}</td>

                  <td class="text-left">{{ item._grupoCurso._seccion.nombre }}</td>
                  <td class="text-center">{{ item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle.creditos }}</td>
                </tr>
                <tr ng-if="cursosselected.length>0">

                  <td></td>
                  <td></td>

                  <td></td>
                  <td><strong>Totales:</strong></td>
                  <td class="text-center"><strong>{{ TotalCreditos();}}</strong></td>
                </tr>
              </tbody>
              <tbody>
            </table>
            <p>
              El número máximo de creditos disponibles para matricularse en este periodo es de: <strong>{{UI.fichamatricula.creditos.maximo.creditosmatricula + UI.fichamatricula.creditos.maximoampliacion }} creditos</strong>
            </p>
            <div class="text-center" ng-if="cursosselected.length > 0">
              <md-button class="md-raised md-primary" ng-click="FinalizarMatricula($event)">FINALIZAR MATRICULA</md-button>
            </div>
          </div>
        </md-content>
      </div>
    </md-content>
  </div>
</md-content>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="!UI.editMode" ng-click="New($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">Agregar Curso</md-tooltip>
  <md-icon md-font-icon="fa fa-plus fa-lg tc-white"></md-icon>
</md-button>

<!--acciones: se mostraran al seleccionar un elemento del listado-->
<md-fab-speed-dial ng-if="UI.editMode" md-open="false" md-direction="up" class="md-fling md-fab-bottom-right">
 <md-fab-trigger>
   <md-button aria-label="menu" class="md-fab">
     <md-icon md-font-icon="fa fa-bars fa-lg tc-white"></md-icon>
   </md-button>
 </md-fab-trigger>

 <md-fab-actions>
   <!--custom actions: Se agregan en el controlador solo cuando es necesario considerar mas opciones para cada elemento de la lista-->
   <md-button ng-repeat="action in UI.customActions" aria-label="{{action.label}}" class="md-fab md-raised md-mini" ng-click="action.onclick($event)">
     <md-tooltip md-direction="left">{{action.label}}</md-tooltip>
     <md-icon md-font-icon="fa fa-building fa-lg tc-{{$root.color.accent}}-500" aria-label="{{action.label}}"></md-icon>
   </md-button>
   <!--end custom actions-->

   <!--default actions: Acciones por defecto que contendra cada interfaz de mantenimiento-->
   <md-button aria-label="{{UI.message.Buttons.New}}" class="md-fab md-raised md-mini" ng-click="New($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.New}}</md-tooltip>
     <md-icon md-font-icon="fa fa-plus fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.New}}"></md-icon>
   </md-button>
   <md-button aria-label="{{UI.message.Buttons.Edit}}" class="md-fab md-raised md-mini" ng-click="Edit($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.Edit}}</md-tooltip>
     <md-icon md-font-icon="fa fa-pencil fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.Edit}}"></md-icon>
   </md-button>
   <md-button aria-label="{{UI.message.Buttons.Delete}}" class="md-fab md-raised md-mini" ng-click="Delete($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.Delete}}</md-tooltip>
     <md-icon md-font-icon="fa fa-trash fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.Delete}}"></md-icon>
   </md-button>
   <!--end default actions-->
 </md-fab-actions>
</md-fab-speed-dial>
