<div id="printSection" style="width:100%;">
  <div id="showprint">
    <div id="headerPre" layout="row" layout-margin layout-fill style="border-bottom: 2px solid black; padding-bottom: 5px;">
      <div id="righthead" style="width:85%;">
        <md-list class="md-layout-column layout-padding md-teal-theme" role="list" style="padding-left:0px; font-size:10px;">
          <md-list-item role="listitem" class="md-no-proxy" style="padding-left:0px;">
            <img src="/images/logo.jpg" width="100" height="100" class="img-round user-logo-main">
            <div class="md-list-item-text" style="width:100%;">
              <h3 class="ng-binding">UNIVERSIDAD NACIONAL DE UCAYALI</h3>
              <p class="ng-binding">OFICINA GENERAL DE COORDINACION Y SERVICIOS ACADEMICOS</p>
              <h2 style="text-align:center;"> FICHA DE MATRICULA </br>SEMESTRE ACADEMICO {{periodoNombre}}</h2>
            </div>
          </md-list-item>
        </md-list>
        <p><strong>FACULTAD DE {{ALUMNO._facultad.nombre}}</strong></p>
        <p>ESCUELA: {{ALUMNO._escuela.nombre}}</p>
      </div>
      <div id="lefthead" style="width:15%;">
        <fieldset style="height: 140px;width: 130px;">
          <legend style="font-size: 14px;">Foto</legend>
        </fieldset>
      </div>
    </div>

    <div layout="row" layout-margin layout-fill style="border-bottom: 2px solid black; padding: 5px 0 5px;">
      <span>ALUMNO: {{ALUMNO.codigo}} {{ ALUMNO._persona.apellidoPaterno }} {{ ALUMNO._persona.apellidoMaterno }}, {{ ALUMNO._persona.nombres }}</span>
      <div style="margin:auto; margin-right: 0px;">Plan Estudio: {{planestudio}}</div>
    </div>

    <md-content flex class="md-padding page-content" style="border-bottom: 2px solid black;">
      <!-- <div id="printSec"> -->

      <table show-filter="true" class="table table-hover table-condensed table-striped table-bordered">
        <tbody>
          <tr class="bg-table-group">
            <td></td>
            <td><strong>CÓDIGO</strong></td>
            <td><strong>NOMBRE CURSO</strong></td>
            <td><strong>CICLO</strong></td>
            <td><strong>CR.</strong></td>
            <td><strong>TIPO CURSO</strong></td>
            <td><strong>N.V.</strong></td>
            <td><strong>ESTADO</strong></td>
            <td><strong>OP1</strong></td>
            <td><strong>RP</strong></td>
          </tr>
          <tr ng-repeat="item in cursosselected" ng-class="{'table-selected-row bgc-teal-50':item.active}">
            <td class="text-left" data-title="''">{{index}}</td>
            <td class="text-left" data-title="'CODIGO'">{{item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle._curso.codigo }}</td>
            <td class="text-left" data-title="'NOMBRE CURSO'">{{ item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle._curso.nombre }}</td>
            <td class="text-left" data-title="'CICLO'">{{item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle.ciclo}}</td>
            <td class="text-left" data-title="'CR.'">{{item._grupoCurso._cursoAperturadoPeriodo._planestudiodetalle.creditos}}</td>
            <td class="text-left" data-title="'TIPO CURSO'"></td>
            <td class="text-left" data-title="'N.V.'"></td>
            <td class="text-left" data-title="'ESTADO'">{{}}</td>
            <td class="text-left" data-title="'OP1'">{{}}</td>
            <td data-title="'RP'" style="width:30px;">
              <span class="fa fa-square  fa-lg tc-blue-grey-50" ng-class="{'fa-check-square tc-{{$root.color.accent}}-500':item.active}"></span>
            </td>
          </tr>

        </tbody>
      </table>
    </md-content>
    <div style="padding-top:5px;">
      <h4 style="text-decoration: underline;">INFORMACION BASICA:</h4>
      <div layout="row" layout-margin layout-fill style="padding-top:5px;">
        <div class="infoFicha info">
          <p><span>Orden de Matricula:</span> 0 </p>
          <p><span>Máximo Credito Permitidos:</span> {{fichamatricula.creditos.maximo.creditosmatricula}}</p>
          <p><span>Creditos Curriculares Aprobados:</span> </p>
          <p><span>Ciclo Relativo: </span></p>
          <p><span>Prom. Pond. Per. Ant: </span>{{fichamatricula.promedioPonderadoPeriodoAnterior}}</p>
        </div>
        <div class="infoFicha info">
          <p><span>Número de Créditos Matriculados:</span>{{creditosactuales}}</p>
          <p><span>Número de Cursos Matriculados:</span>{{}}</p>
          <p><span>Fecha:</span>{{}}</p>
          <p><span>Firma de Alumno:</span></p>
          <p><span>Firma de Consejero:</span></p>
        </div>
      </div>
    </div>

    <div style="padding-top: 5px;">
      <h4 style="text-decoration: underline;">RECOMENDACIONES:</h4>
      <div layout="row" layout-margin layout-fill style="padding-top:5px;">
        <p>
          1.- El CONSEJERO debe señalar los cursos en los que el Alumno puede Matricularse y anular los restantes
        </p>
      </div>
      <div layout="row" layout-margin layout-fill>
        <p>
          2.- Si el ALUMNO no esta conforme con el presente documento, solicite su correción en la Oficina General de Coordinación y Servicios Académicos.
        </p>
      </div>
    </div>

    <div style="padding-top: 5px;">
      <strong>Datos del estudiante</strong>
      <div layout="row" layout-margin layout-fill>
        <table class="data-alumno" style="width: 100%">
          <tr>
            <td class="td-alu">Fecha de Nacimiento:</td>
            <td></td>
            <td class="td-lit">Edad:</td>
            <td></td>
          </tr>
          <tr>
            <td class="td-alu">Documento de Identidad:</td>
            <td></td>
            <td class="td-lit">Telefono:</td>
            <td></td>
          </tr>
          <tr>
            <td class="td-alu">
              Dirección:
            </td>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td class="td-alu">
              Dirección Electronica:
            </td>
            <td colspan="3">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div layout="row" layout-margin layout-fill>
      <table class="data-alumno" style="width: 100%">
        <tr>
          <td class="td-alu">Año y semestre que inició Estudios</td>
          <td></td>
          <td class="td-lit">Ultimo Año y semestre Estudiado:</td>
          <td></td>
        </tr>
        <tr>
          <td class="td-alu" colspan="2">
            Veces que solicitó Retiro Total y fue aceptado:
          </td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="td-alu" colspan="2">
            Indicar los Años y semestres en que solicitó Retiro Total:
          </td>
          <td colspan="2">
          </td>
        </tr>
      </table>
    </div>

    <div layout="row" layout-margin layout-fill style="padding-top: 5px;">
      <small>N.V.: número de veces</small>
      <div style="margin:auto; margin-right: 0px;">
        <strong style="display: inline-block;">USUARIO {{ALUMNO.codigo}} CLAVE {{ALUMNO.codigo}}</strong>
      </div>

    </div>

  </div>
</div>

<md-content class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3>Matrícula {{periodoNombre }}</h3>
  </md-subheader>


  <div layout="row" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <section>
        <md-subheader>
          <strong>Matrícula {{periodoNombre }}</strong>
        </md-subheader>
        <div class="md-primary md-12-line">
          <md-list layout="column" layout-padding>
            <md-list-item>
              <img ng-src="{{ ALUMNO.imagen }}" class="md-avatar">
              <div class="md-list-item-text">
                <h3>{{ ALUMNO._persona.nombres }} {{ ALUMNO._persona.apellidoPaterno }} {{ ALUMNO._persona.apellidoMaterno }}</h3>
                <p>{{ ALUMNO.codigo }}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </section>

      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
      <!-- Imagen del usuario -->
      <div flex layout="row" layout-fill>
        <strong>Compromiso de pago</strong>
        <md-button class="btn btn-primary" ng-print onclick="window.print()" style="top: 20px;right: 20px;bottom: auto;left: auto;
    position: absolute;" ng-if="print"><i class="fa fa-print"></i> Imprimir</md-button>
      </div>

      <div layout="row" layout-fill>
        <p>
          El proceso de prematricula ha finalizado satisfactoriamente.</br>
          Para que su proceso de matricula se haga efectiva debe acercarse a abonar a las oficinas del banco Continental como se indica en la ficha de pago.
        </p>
      </div>
      <!-- <div print-element-id="printSection" layout="row" layout-fill> -->
      <md-content flex class="md-padding page-content" style="max-width:600px">
        <!-- <div id="printSec"> -->

        <table ng-table="tableParamsDeudas" show-filter="true" class="table table-hover table-condensed table-striped table-bordered">
          <tbody>
            <tr ng-repeat="item in $data" ng-class="{'table-selected-row bgc-teal-50':item.active}" ng-if="UI.deudasValue">
              <td class="text-left" data-title="'Código'">{{}}</td>
              <td class="text-left" data-title="'Descripción'">{{item._tasa.nombre}}</td>
              <td class="text-left" data-title="'Monto'">S/.{{item.saldo}}</td>
            </tr>

            <tr ng-if="!UI.deudasValue">
              <td class="text-center" colspan="3"> {{UI.messageDeudas}}</td>
            </tr>

          </tbody>
        </table>
      </md-content>

      <div layout="row" layout-fill>
        <div class="text-center" flex>
          <a>
            <button ui-sref="app" class="md-button" style="background-color: rgb(255,152,0);color:white;text-align:center;padding: 5px;">Volver</button>
          </a>
        </div>
      </div>
    </md-content>
