<md-content class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3>Matrícula {{periodoNombre }}</h3>
  </md-subheader>

  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content ng-if="UI.mostrarUI" flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;min-height:400px;">
      <section>

        <div class="md-primary md-12-line">
          <md-list layout="column" layout-padding>
            <md-list-item>
              <img ng-src="/images/{{ALUMNO._persona.sexo}}.jpg" class="md-avatar">
              <div class="md-list-item-text">
                <h3>{{ ALUMNO._persona.nombres }} {{ ALUMNO._persona.apellidoPaterno }} {{ ALUMNO._persona.apellidoMaterno }}</h3>
                <p>{{ ALUMNO.codigo }}</p>
              </div>
            </md-list-item>
          </md-list>
        </div>
        <div>
          <h2 class=" tc-{{$root.color.primary}}-500">Requisitos para inicio de Matrícula!
          <br>
          <small class=" tc-{{$root.color.primary}}-400">Matrícula {{periodoNombre }}</small>
        </div>
      </section>
      <div flex layout="column" layout-fill style="padding-bottom:10px;">
        <p>Queremos brindarte un mejor servicio, por ello, hemos implementado un nuevo proceso de matrícula mediante el cual podrás realizar el registro de cursos de manera virtual.</p>
        <p>
          Antes de iniciar con el proceso de matricula es importante que validemos algunas cosas para asegurar ud. pueda inicar correctamente su inscripción:
        </p>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Status
            </th>
            <th>
              Requisitos
            </th>
            <th>
              Descripción
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <i ng-if="!UI.requisitos.modalidad" class="fa fa-frown-o tc-{{$root.color.accent}}-500"></i>
              <i ng-if="UI.requisitos.modalidad"class="fa fa-check tc-{{$root.color.primary}}-500 " ></i>
            </td>
            <td>
              Modalidad de Ingreso
            </td>
            <td>
              Estamos en continua mejora pero por el momento solo soportamos el registro de alumnos bajos las siguientes modalidades de ingreso EXAMEN ORDINARIO, PRIMER PUESTO COLEGIOS, EXAMEN CEPREUNU
              <div class="tc-{{$root.color.accent}}-500">
                  {{messageModalidad}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <i class="fa fa-frown-o tc-{{$root.color.accent}}-500" ng-if="!UI.requisitos.conflictos"></i>
              <i class="fa fa-check tc-{{$root.color.primary}}-500" ng-if="UI.requisitos.conflictos"></i>
            </td>
            <td>
              Pendientes del Alumno
            </td>
            <td>
              Es importante asegurar que Ud. no cuenta con algun conflicto o pendiente con la universidad, por lo cual, es necesario verificar si todo esta en orden :)<br>
              <md-content ng-if="!UI.requisitos.conflictos" flex class="md-padding page-content">

                <table ng-table="tableParamsPendientes" show-filter="true" class="table table-hover table-condensed table-striped table-bordered ">
                  <tbody>
                  <tr ng-repeat="item in $data" ng-class="{'table-selected-row bgc-teal-50':item.active}" ng-if="UI.pendientesValue">
                      <td class="text-left" data-title="'Código'" style="width:100px;">{{item._conflicto.codigo}}</td>
                      <td class="text-left" data-title="'Descripción'">{{item._conflicto.nombre}}</td>
                  </tr>

                  </tbody>
                </table>
                <!-- <div ng-if="!UI.pendientesValue">{{UI.messagePendiente}}</div> -->
              </md-content>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <i ng-if="!UI.requisitos.deudas" class="fa fa-frown-o tc-{{$root.color.accent}}-500"></i>
              <i ng-if="UI.requisitos.deudas" class="fa fa-check tc-{{$root.color.primary}}-500"></i>
            </td>
            <td>
              Deudas del alumno
            </td>
            <td>
              Es importante asegurar que Ud. no cuenta con alguna deuda con la universidad, por lo cual, es necesario verificar si todo esta en orden :)<br>
              <md-content ng-if="!UI.requisitos.deudas" flex class="md-padding page-content" ng-if="UI.deudasValue" >

                <table ng-table="tableParamsDeudas" show-filter="true" class="table table-hover table-condensed table-striped table-bordered">
                  <tbody>
                  <tr ng-repeat="item in $data" ng-class="{'table-selected-row bgc-teal-50':item.active}" ng-if="UI.deudasValue">
                      <td class="text-left" data-title="'Código'">{{}}</td>
                      <td class="text-left" data-title="'Descripción'">{{item._tasa.nombre}}</td>
                      <td class="text-left" data-title="'Monto'">S/.{{item.saldo}}</td>
                  </tr>

                  </tbody>
                </table>
                <!-- <div ng-if="!UI.deudasValue">{{UI.messageDeudas}}</div> -->
              </md-content>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <i ng-if="!UI.requisitos.fechaMatriculaRegular" class="fa fa-frown-o tc-{{$root.color.accent}}-500"></i>
              <i ng-if="UI.requisitos.fechaMatriculaRegular" class="fa fa-check tc-{{$root.color.primary}}-500"></i>
            </td>
            <td>
              Proceso Matrícula Regular Activo
            </td>
            <td>
              El proceso de matricula solo se realizara durante el plazo estableciado de acuerdo al cronograma de matricula establecido por cada facultad <br>
              <span class="tc-{{$root.color.accent}}-500">{{UI.messageFechaRegular}}</span>
            </td>
          </tr>
        </tbody>

      </table>
      <div layout="row" layout-align="center start" layout-fill ng-if="UI.requisitos.modalidad&&UI.requisitos.deudas&&UI.requisitos.conflictos&&UI.requisitos.fechaMatriculaRegular" >
        <button ui-sref="app.matriculainscripcion" class="md-button" style="background-color: rgb(255,152,0);color:white;text-align:center;padding: 5px;"  ng-click="Save()">Iniciar el proceso de matricula</button>
       </div>
       <div layout="row" layout-align="center start" layout-fill ng-if="!UI.requisitos.modalidad||!UI.requisitos.deudas||!UI.requisitos.conflictos" >
         <h3 class="tc-{{$root.color.accent}}-500">Al parecer uno o mas requisitos no sen han cumplido , por lo cual, no podra iniciar el proceso de matrícula</h3>
       </div>
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
         <!-- Imagen del usuario -->


       </md-content>

    <md-content ng-if="!UI.mostrarUI" flex class="text-center md-padding page-content md-whiteframe-4dp" style="max-width:1020px;min-height:300px;">
      <br><br><br><br>
      <h2 class="tc-{{$root.color.primary}}-500">Bienvenido</h2>
      <h3><i class="fa fa-spinner fa-pulse"></i> Validando Acceso a interfaz. Espere un momento...</h3>
    </md-content>
  </div>
</md-content>
