<md-dialog aria-label="{{title}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>{{title}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button class="md-icon-button" aria-label="More" ng-click="Cancel()">
        <md-icon md-font-icon="fa fa-close fa-lg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
    <md-dialog-content class="window-modal-content-sm md-padding">
      <form name="myForm">
        <div flex  layout="row" layout-sm="column">
          <div flex>
            <md-input-container class="md-block">
              <label>Año</label>
              <input required name="anio" ng-model="model.anio">
              <div ng-messages="myForm.anio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex>
            <md-input-container class="md-block">
              <label>Periodo</label>
              <input type="number" required name="periodo" ng-model="model.periodo">
              <div ng-messages="myForm.periodo.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex>
            <md-input-container class="md-block">
              <label>Nombre</label>
              <input required name="nombre" ng-model="model.nombre">
              <div ng-messages="myForm.nombre.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div flex  layout="row" layout-sm="row">
          <div flex>
            <md-input-container class="md-block">
              <label>Resolución</label>
              <input required name="resolucion" ng-model="model.resolucion">
              <div ng-messages="myForm.resolucion.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex>
            <md-input-container class="md-block">
              <label>Resolución</label>
              <input type="date" required name="fechaResolucion" ng-model="model.fechaResolucion">
              <div ng-messages="myForm.fechaResolucion.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>

          </div>
        </div>
        <div flex  layout="row" layout-sm="row">
          <div flex>
            <md-input-container class="md-block">
              <label>Inicio</label>
              <input type="date" required name="inicio" ng-model="model.inicio">
              <div ng-messages="myForm.inicio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>

          </div>

          <div flex>
            <md-input-container class="md-block">
              <label>Fecha Fin</label>
              <input type="date" required name="fin" ng-model="model.fin">
              <div ng-messages="myForm.fin.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>

          </div>
        </div>
      </form>

      <div  flex  layout="row" layout-sm="column">
       <div flex="30" layout-align="start start" flex-sm="100" class="text-left">
         <md-checkbox ng-model="model.activo">
             Activo
           </md-checkbox>
       </div>
       <div flex="70" layout="row"  layout-align="end center" flex-sm="100">
         <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
         <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
       </div>
     </div>
  </md-dialog-content>
</md-dialog>
