<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="window-modal-content-md md-padding">
      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Periodo</label>
            <input required name="periodo" ng-model="_periodo.nombre" readonly>
            <div ng-messages="myForm.periodo.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block">
            <label>Fecha Inicio</label>
            <input type="date" required name="fechaInicio" ng-model="model.fechaInicio">
            <div ng-messages="myForm.fechaInicio.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>

        </div>
        <div flex>
          <md-input-container class="md-block">
            <label>Fecha Fin</label>
            <input type="date" required name="fechaFin" ng-model="model.fechaFin">
            <div ng-messages="myForm.fechaFin.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
      </div>


      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Proceso</label>
            <md-select ng-model="model.proceso" ng-model-options="{trackBy: '$value._id'}">
              <md-option ng-repeat="proc in procesos" ng-value="proc">
                {{proc.nombre}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.proceso.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>

      </div>


    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-checkbox ng-model="model.activo">
        Activo
      </md-checkbox>
      <span flex></span>
      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
