@media (max-width: 700px)
  .app-title-module
    display none
  .button-floating-bottom
    right 10px
    bottom 10px
    z-index 1000
  .tile-lg
    width: 100%
  .tile-sm
    width: 100%
  .ct-login
    border-radius(0)
  .window-modal-content-sm
    width 100%
    min-width 240px
