.button-floating-bottom
  position fixed
  right 10px
  bottom 10px
  z-index 1000
@media (max-width: 700px)
  .app-title-module
    display none

  .tile-lg
    width: 100%
  .tile-sm
    width: 100%
  .ct-login
    border-radius(0)
  .window-modal-content
  .window-modal-content-sm
    width 100%
    min-width 240px

@media (min-width: 800px)
  .window-modal-content-sm
    width 500px
  .window-modal-content
    width 800px

.table-column-select
  width: 40px
