.bg-login
    height 50vh
    position relative
    background url('../images/bg.jpg')  no-repeat center center fixed
    background-size cover
.ct-login
    z-index 5
    display block
    background #fff
    position fixed
    border-radius(20px)
    left 50%
    top 35%
    width 360px
    margin-left -180px
    margin-top -155px
    padding 20px
    padding-left 35px
    padding-right 35px
    a, a:visited
        color #106CC8
        text-decoration none
        font-weight bold
    @media (max-height: 300px)
        top 0
        margin-top 0

.login-fab-button
    top 35px
    right 40px
    position absolute
    z-index 1000 !important

