@import "css3.styl"
.green-border > thead > tr > th
.green-border > tbody > tr > th
.green-border > tfoot > tr > th
.green-border > thead > tr > td
.green-border > tbody > tr > td
.green-border > tfoot > tr > td
  border-color #a6d9a8

.green-border > caption + thead > tr:first-child > th
.green-border > colgroup + thead > tr:first-child > th
.green-border > thead:first-child > tr:first-child > th
.green-border > caption + thead > tr:first-child > td
.green-border > colgroup + thead > tr:first-child > td
.green-border > thead:first-child > tr:first-child > td
  border-top 1px solid #a6d9a8



  .table
  	font-size 13px
  	tbody	> tr > td
  		md-checkbox
  			margin 0 !important
  			line-height 20px !important

.table-selected-row
  border solid 2px
  border-color #B2DFDB !important

.table
  &.dtp-picker-days
    min-width auto
