<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="window-modal-content-sm md-padding">
        <div flex  layout="column" layout-sm="column">
          <div flex>
            <md-input-container class="md-block">
              <label>Grupo</label>

              <md-select ng-model="model._seccion" ng-model-options="{trackBy: '$value._id'}">
               <md-option ng-repeat="seccion in secciones" ng-value="seccion" >
                 {{seccion.nombre}}
               </md-option>
             </md-select>
            <div ng-messages="myForm.codigo.$error"  ng-if="submited">
                  <div ng-message="required">{{message.Required}}</div>
                  <div ng-message="validateUnique">{{message.validateUnique}}</div>
                </div>
                <div ng-if="ValidationError['codigo'].kind" >
                  {{ValidationError['codigo'].message}}
                </div>
          </md-input-container>
          </div>
               <div flex>
                   <md-input-container class="md-block">
                     <label>Cupos</label>
                     <input required name="cupos" ng-model="model.totalCupos">
                     <div ng-messages="myForm.codigo.$error"  ng-if="submited">
                       <div ng-message="required">{{message.Required}}</div>
                       <div ng-message="validateUnique">{{message.validateUnique}}</div>
                     </div>
                     <div ng-if="ValidationError['codigo'].kind" >
                       {{ValidationError['codigo'].message}}
                     </div>
                   </md-input-container>
               </div>

           </div>

    </md-dialog-content>
<md-dialog-actions layout="row">
  <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
  <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
</md-dialog-actions>
  </form>
</md-dialog>
