<md-content class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3><a ui-sref="app.aprobacionplanestudios"><i class="fa fa-arrow-left tc-green-500"></i></a> {{UI.title}} {{UI.planestudios._escuela.nombre}} {{UI.planestudios._periodo.anio}}-{{UI.planestudios._periodo.periodo}}</h3>
  </md-subheader>

  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <!--tabla: contiene el listado de elementos-->
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh"></md-progress-linear>
      <div class="table-responsive">
        <table ng-table="tableParams" show-filter="false" class="table table-hover table-condensed table-striped table-bordered ">
          <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->
          <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
              <td colspan="2">
                <a href class="groupTitle" ng-click="group.$hideRows = !group.$hideRows">
                  <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                  <strong>Ciclo: {{group.value}} </strong>
                </a>
              </td>
              <td><strong>TOTAL</strong></td>
              <td><strong>{{getCreditosCiclo(group.data)}}</strong></td>
              <td><strong>{{getHorasCiclo(group.data)}}</strong></td>
              <td colspan="{{$columns.length-5}}"></td>
            </tr>

            <tr ng-hide="group.$hideRows" ng-repeat="item in group.data" ng-click="item.active=!item.active;EnabledEdit(item,$groups)">
              <td style="width:30px;">
                <span class="fa fa-square  fa-lg tc-blue-grey-50" ng-class="{'fa-check-square tc-{{$root.color.accent}}-500':item.active}"></span>
              </td>
              <td class="text-left" data-title="'Curso'" sortable="curso">{{item._curso.nombre}}</td>
              <td data-title="'Código'" sortable="codigo" filter="{ 'codigo': 'text' }">{{item._curso.codigo}}</td>
              <td data-title="'N° Creditos'">{{item.creditos}}</td>
              <td data-title="'N° Horas'">{{item.horas_total}}</td>
              <td data-title="'N° Horas Teoria'">{{item.horas_teoria}}</td>
              <td data-title="'N° Horas Práctica'">{{item.horas_practica}}</td>
              <td data-title="'N° Horas Laboratorio'">{{item.horas_laboratorio}}</td>
              <td data-title="'Estado'">
                <strong>
                  <a href ng-switch="item.estado" title="{{item.estado}}" ng-click="alert('dsd')">
                    <span ng-switch-when="Registrado" class="fa fa-pencil tc-blue-grey-500"></span>
                    <span ng-switch-when="Aprobado" class="fa fa-check-circle tc-green-500"></span>
                    <span ng-switch-when="Observado" class="fa fa-eye tc-orange-500" ></span>
                  </a>
                </strong>
              </td>
            </tr>

          </tbody>
          <tbody>
        </table>
      </div>
    </md-content>
  </div>
</md-content>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-fab-speed-dial ng-if="!UI.editMode&&UI.planestudios.estado=='Pendiente'" md-open="false" md-direction="up" class="md-fling md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-accent">
      <md-tooltip md-direction="left">Opciones de Aprobación Plan de Estudios</md-tooltip>
      <md-icon md-font-icon="fa fa-bars fa-lg tc-white"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>


    <!--default actions: Acciones por defecto que contendra cada interfaz de mantenimiento-->
    <md-button aria-label="{{UI.message.Buttons.New}}" class="md-fab md-raised md-mini" ng-click="UpdateStatusPlan('Aprobado')">
      <md-tooltip md-direction="left">{{UI.message.Buttons.Approve}} Plan de Estudios</md-tooltip>
      <md-icon md-font-icon="fa fa-check fa-lg tc-{{$root.color.primary}}-500" aria-label="{{UI.message.Buttons.New}}"></md-icon>
    </md-button>
    <md-button aria-label="{{UI.message.Buttons.Edit}}" class="md-fab md-raised md-mini" ng-click="UpdateStatusPlan('Observado')">
      <md-tooltip md-direction="left">{{UI.message.Buttons.Observe}} Plan de Estudios</md-tooltip>
      <md-icon md-font-icon="fa fa-eye fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.Edit}}"></md-icon>
    </md-button>

    <!--end default actions-->
  </md-fab-actions>
</md-fab-speed-dial>

<md-button ng-if="UI.editMode&&UI.planestudios.estado=='Pendiente'" ng-click="ShowEvaluacion($event)" class="md-fab md-fab-bottom-right">
  <md-tooltip md-direction="left">Evaluar Curso</md-tooltip>
  <md-icon md-font-icon="fa fa-comments fa-lg tc-white"></md-icon>
</md-button>


<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

  <md-content layout="column" ng-include="'views/aprobacion/planestudios/detalle.html'" layout-fill>

  </md-content>
</md-sidenav>
