<md-content class="page-content" layout-align="center start" style="background-color:#f2f2f2;">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3><span class="fa fa-home"></span> Bienvenido al Sistema de Matrícula <small ng-if="!aproved" class="tc-{{$root.color.accent}}-500"><span class="fa fa-exclamation-circle"></span> Es necesario que actualice sus datos personales antes de continuar con el proceso de matrícula</small>
   <small ng-if="!modeIngreso" class="tc-{{$root.color.accent}}-500"><span class="fa fa-exclamation-circle"></span> No se puede utilizar el servicio web para inscribirse por su modalidad de ingreso no es la correcta o no tiene una modalidad de ingreso registrada </small></h3>
  </md-subheader>
  <md-content flex style="max-width:1020px;margin:auto;">
    <div layout="row" layout-sm="column">
      <div class="dashboard display-animation" flex="67" flex-sm="100" ng-if="aproved && showmenu" ng-click="LoadPage2()">
        <a class="tile tile-lg bgc-white ripple-effect">
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img bgc-teal-300" style="background-image: url(images/bghome-1.jpg);background-size:cover;"></span>
          <span class="tile-holder tile-holder-sm grey-500 {{item.style.color}}">
                  <span class="title">Matrícula</span>
          <p>Acceda al módulo de matrícula para registrar sus cursos....</p>
          </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex="67" flex-sm="100" style="opacity:0.4;" ng-if="!showmenu||!aproved">
        <a href class="tile tile-lg bgc-white ripple-effect" ui-sref="app">
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img bgc-teal-300" style="background-image: url(images/bghome-1.jpg);background-size:cover;"></span>
          <span class="tile-holder tile-holder-sm grey-500 {{item.style.color}}">

                  <span class="title">Matrícula</span>
          <p>El proceso de matricula ya no esta habilitado por estar fuera de fechas.</p>
          </span>
          </span>
          </span>
        </a>
      </div>

      <div class="dashboard display-animation" flex="33" flex-sm="100" ng-if="aproved">
        <a class="tile tile-lg bgc-teal-500 ripple-effect tc-white-1  " >
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img" style="background-image: url(images/bghome-2.jpg);background-size:cover;"></span>
          <span class="tile-holder tile-holder-sm grey-500">
                  <span class="title tc-white">Plan de Estudios</span>
          <p>Visualize su plan de Estudios</p>
          </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex="33" flex-sm="100" style="opacity:0.4;" ng-if="!aproved" >
        <a class="tile tile-lg bgc-teal-500 ripple-effect tc-white-1">
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img" style="background-image: url(images/bghome-2.jpg);background-size:cover;"></span>
          <span class="tile-holder tile-holder-sm grey-500">
                  <span class="title tc-white">Plan de Estudios</span>
          <p>Visualize su plan de Estudios</p>
          </span>
          </span>
          </span>
        </a>
      </div>
    </div>
    <div layout="row" layout-sm="column">
      <div class="dashboard display-animation" flex>
        <a href class="tile tile-lg bgc-green-500  ripple-effect " ui-sref="app.alumnomisdatos">
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img bgc-white" style="background-image: url(images/bghome-3.jpg);background-size:cover;"></span>
          <span class="tile-holder tile-holder-sm grey-500">
                  <span class="title tc-white">Mis Datos</span>
          <p>Actualize su información personal</p>
          </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex>
        <a href class="tile tile-lg bgc-white ripple-effect " ui-sref="app.alumnocambiocontrasenia">
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img bgc-white" style="background-image: url(images/bghome-4.jpg);background-size:cover;"></span>
          <span class="tile-holder tile-holder-sm grey-500">
                  <span class="title">Cambio de Contraseña</span>
          <p>Modificación de la Contraseña de Acceso</p>
          </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex style="opacity:0.4;">
        <a href class="tile tile-lg bgc-white ripple-effect">
          <span class="content-wrapper">
              <span class="tile-content">
                <span class="tile-img bgc-blue-grey-500 tc-white md-padding" >
                    <i class="fa fa-area-chart fa-5x"></i>
                </span>
          <span class="tile-holder tile-holder-sm grey-500">
                  <span class="title ">Reportes</span>
          <p>Breve Descripción</p>
          </span>
          </span>
          </span>
        </a>
      </div>
    </div>

  </md-content>

</md-content>
