<div layout="row" layout-align="center start" layout-margin layout-fill>
  <md-content flex layout-margin  style="max-width:1020px;background-color:#f2f2f2;">
    <div layout="row" layout-sm="column">
      <div class="dashboard display-animation" flex="67" flex-sm="100">
        <a href class="tile tile-lg bgc-white ripple-effect " ui-sref="app.facultad">
          <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img bgc-teal-300" style="background-image: url(images/bghome-7.jpg);background-size:cover;"></span>
            <span class="tile-holder tile-holder-sm grey-500" >

              <span class="title">Revisión del Plan de Estudios</span>
              <p>Administre las facultades y escuelas </p>
            </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex="33" flex-sm="100">
        <a href class="tile tile-lg bgc-teal-500 ripple-effect tc-white-1  " ui-sref="app.pabellones">
          <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(images/bghome-8.jpg);background-size:cover;"></span>
            <span class="tile-holder tile-holder-sm grey-500">
              <span class="title tc-white">Registro de Asignaturas</span>
              <p>Registro de Asignaturas</p>
            </span>
          </span>
          </span>
        </a>
      </div>
    </div>
    <div layout="row" layout-sm="column">
      <div class="dashboard display-animation" flex>
        <a href class="tile tile-lg bgc-green-500  ripple-effect " ui-sref="app.planestudios">
          <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img bgc-white" style="background-image: url(images/bghome-3.jpg);background-size:cover;"></span>
            <span class="tile-holder tile-holder-sm grey-500">
              <span class="title tc-white">Reporte 1</span>
              <p>Detalle Reporte 1</p>
            </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex>
        <a href class="tile tile-lg bgc-white ripple-effect " ui-sref="app.facultad">
          <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img bgc-white" style="background-image: url(images/bghome-4.jpg);background-size:cover;"></span>
            <span class="tile-holder tile-holder-sm grey-500">
              <span class="title">Reporte 2</span>
              <p>Detalle reporte 2</p>
            </span>
          </span>
          </span>
        </a>
      </div>
      <div class="dashboard display-animation" flex>
        <a href class="tile tile-lg bgc-white ripple-effect " ui-sref="app.facultad">
          <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img bgc-blue-grey-500 tc-white md-padding" >
                <i class="fa fa-area-chart fa-5x"></i>
            </span>
            <span class="tile-holder tile-holder-sm grey-500">
              <span class="title ">Reporte 3</span>
              <p>Detalle Reporte 3</p>
            </span>
          </span>
          </span>
        </a>
      </div>
    </div>
  </md-content>
</div>
<!--div layout="row" layout-align="center start" layout-margin layout-fill>

<md-content flex layout-margin class="md-padding page-content" style="max-width:1020px;">
  <div layout="row">
    <div flex>

  </div>
  </div>

  <div layout="row">
    <div flex>
      <a href class="tile tile-lg tile-light-green ripple-effect " ui-sref="app.facultad">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img" ></span>
        <span class="tile-holder tile-holder-sm grey-500">
          <p><i class="fa fa-university fa-5x"></i> </p>
          <span class="title">Facultades</span>
          <p>esta tarjeta se generara de acuerdo a las preferencias y uso que el usuario le de al sistema. Si el usuario accede de manera constante a esta opción, esta tarjeta se mantendra de mayor tamaño como una tarjeta relevante</p>
        </span>
      </span>
      </span>
      </a>
    </div>
    <div flex>
      <a href class="tile tile-lg tile-light-green ripple-effect " ui-sref="app.facultad">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img" ></span>
        <span class="tile-holder tile-holder-sm grey-500">
          <p><i class="fa fa-university fa-5x"></i> </p>
          <span class="title">Facultades</span>
          <p>esta tarjeta se generara de acuerdo a las preferencias y uso que el usuario le de al sistema. Si el usuario accede de manera constante a esta opción, esta tarjeta se mantendra de mayor tamaño como una tarjeta relevante</p>
        </span>
      </span>
      </span>
      </a>
    </div>
    <div flex>
      <a href class="tile tile-lg tile-light-green ripple-effect " ui-sref="app.facultad">
      <span class="content-wrapper">
      <span class="tile-content">
        <span class="tile-img" ></span>
        <span class="tile-holder tile-holder-sm grey-500">
          <p><i class="fa fa-university fa-5x"></i> </p>
          <span class="title">Facultades</span>
          <p>esta tarjeta se generara de acuerdo a las preferencias y uso que el usuario le de al sistema. Si el usuario accede de manera constante a esta opción, esta tarjeta se mantendra de mayor tamaño como una tarjeta relevante</p>
        </span>
      </span>
      </span>
      </a>
    </div>
  </div>

<!--div class="dashboard display-animation" style="margin: 0 auto;max-width:1170; " flex layout-align="center start">
<a href class="tile tile-lg tile-light-green ripple-effect " ui-sref="app.facultad">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img" ></span>
  <span class="tile-holder tile-holder-sm grey-500">
    <p><i class="fa fa-university fa-5x"></i> </p>
    <span class="title">Facultades</span>
    <p>esta tarjeta se generara de acuerdo a las preferencias y uso que el usuario le de al sistema. Si el usuario accede de manera constante a esta opción, esta tarjeta se mantendra de mayor tamaño como una tarjeta relevante</p>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr ripple-effect " href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img" style="background-image: url(http://www.google.com/design/images/materialreel.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <p>
      <i class="fa fa-calendar fa-5x"></i>
    </p>
    <span class="title tc-white">Periodo</span>
    <p>Si el usuario accede pocas veces a una determinada opcion del menu esta tendra un tamaño mucho menor</p>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr tile-amber ripple-effect bgc-white" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img" style="background-image: url(http://www.google.com/design/images/principles.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <p>
      <i class="fa fa-book fa-5x"></i>
    </p>
    <span class="title">Plan de Estudios<br><span class="caption">5 tareas pendientes</span></span>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr tile-amber ripple-effect bgc-white" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img tile-img-bg" style="background-image: url(http://www.google.com/design/images/doodlearchive.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <p>
      <i class="fa fa-user fa-5x"></i>
    </p>
    <span class="title">Registro de Ingresantes<span class="caption">5 tareas pendientes</span></span>

  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr tile-amber ripple-effect bgc-white" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img tile-img-bg" style="background-image: url(http://www.google.com/design/images/doodlearchive.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <p>
      <i class="fa fa-user fa-5x"></i>
    </p>
    <span class="title">Registro de Ingresantes<span class="caption">5 tareas pendientes</span></span>

  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-light-blue ripple-effect" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img tile-img-bg" style="background-image: url(http://www.google.com/design/images/googleplus.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <span class="title">Google+</span>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr tile-red ripple-effect" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img" style="background-image: url(http://www.google.com/design/images/design-minutes.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <span class="title">Design Minutes</span>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr tile-indigo ripple-effect" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img" style="background-image: url(http://www.google.com/design/images/cast.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <span class="title">Google Cast UX</span>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-sqr tile-deep-orange ripple-effect" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img" style="background-image: url(http://www.google.com/design/images/glass.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <span class="title">Glass Design</span>
  </span>
</span>
</span>
</a>
<a class="tile tile-lg tile-light-green ripple-effect" href="#">
<span class="content-wrapper">
<span class="tile-content">
  <span class="tile-img tile-img-bg" style="background-image: url(http://www.google.com/design/images/webdesigner.png);"></span>
  <span class="tile-holder tile-holder-sm">
    <span class="title">Google Web Designer</span>
  </span>
</span>
</span>
</a>
</div>
</md-content>
</div-->
<md-button ng-click="New($event)" class="md-fab button-floating-bottom" aria-label="Use Android" >
  <md-icon md-font-icon="fa fa-question fa-lg"></md-icon>
</md-button>
