<md-content class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3>{{UI.title}}</h3>
  </md-subheader>


  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <div flex-container="row" flex-gutter="24">
        <div flex-item>
          <md-input-container class="md-block">
            <label>Periodo</label>
            <md-select ng-model="filter._periodo" ng-model-options="{trackBy: '$value._id'}">
              <md-option ng-repeat="periodo in periodos" ng-value="periodo">
                {{periodo.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex-item>
          <md-input-container class="md-block">
            <label>Facultad</label>
            <md-select ng-model="filter._facultad" ng-model-options="{trackBy: '$value._id'}" ng-change="LoadEscuelas()">
              <md-option ng-repeat="fac in facultades" ng-value="fac">
                {{fac.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex-item>
          <md-input-container class="md-block">
            <label>Escuela</label>
            <md-select ng-model="filter._escuela" ng-model-options="{trackBy: '$value._id'}" ng-change="ListPlanEstudios()">
              <md-option ng-repeat="escuela in escuelas" ng-value="escuela">
                {{escuela.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex-item>
          <md-input-container class="md-block">
            <label>Plan Estudios</label>
            <md-select ng-model="filter._planestudios" ng-model-options="{trackBy: '$value._id'}" ng-change="ListaCursosGrupos()">
              <md-option ng-repeat="plan in planestudios" ng-value="plan">
                {{plan.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <!--tabla: contiene el listado de elementos-->
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="GRUPOS APERTURADOS">
              <md-content class="md-padding">
                <div class="table-responsive">
                  <table ng-table="tableParams" show-filter="false" class="table table-hover table-condensed table-striped table-bordered ">
                    <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->
                    <tbody ng-repeat="group in $groups">
                      <tr class="ng-table-group">
                        <td colspan="2">
                          <a href class="groupTitle" ng-click="group.$hideRows = !group.$hideRows">
                            <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                            <strong>Ciclo: {{group.value}} </strong>
                          </a>
                        </td>
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{getCreditosCiclo(group.data)}}</strong></td>
                        <td><strong>{{getHorasCiclo(group.data)}}</strong></td>
                        <td colspan="{{$columns.length-5}}"></td>
                      </tr>

                      <tr ng-hide="group.$hideRows" ng-repeat="item in group.data" ng-click="item.active=!item.active;EnabledEdit(item,$groups)">
                        <td style="width:30px;">
                          <span class="fa fa-square  fa-lg tc-blue-grey-50" ng-class="{'fa-check-square tc-{{$root.color.accent}}-500':item.active}"></span>
                        </td>
                        <td class="text-left" data-title="'Curso / Grupo'" sortable="curso">{{item._curso.nombre}}</td>
                        <td data-title="'Código'" sortable="codigo" filter="{ 'codigo': 'text' }">{{item._curso.codigo}}</td>
                        <td data-title="'Ciclo'">{{item.creditos}}</td>
                        <td data-title="'Nro Cupos'">{{item.horas_total}}</td>
                        <td data-title="'N° Matriculados'">{{item.horas_teoria}}</td>
                        <td data-title="'N° Retiros Parciales'">{{item.horas_practica}}</td>
                        <td data-title="'N° Retiros Totales'">{{item.horas_laboratorio}}</td>
                      </tr>
                    </tbody>
                    <tbody>
                  </table>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="HORARIOS">
              <md-content class="md-padding">

              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </md-content>
  </div>
</md-content>

<md-fab-speed-dial ng-if="!UI.editMode&&UI.planestudios.estado=='Pendiente'" md-open="false" md-direction="up" class="md-fling md-fab-bottom-right">
  <!--md-fab-trigger>
   <md-button aria-label="menu" class="md-fab md-accent">
     <md-tooltip md-direction="left">Opciones de Aprobación Plan de Estudios</md-tooltip>
     <md-icon md-font-icon="fa fa-bars fa-lg tc-white"></md-icon>
   </md-button>
 </md-fab-trigger-->
</md-fab-speed-dial>


<md-button aria-label="{{UI.message.Buttons.New}}" ng-if="UI.editMode" ng-click="New($event)" class="md-fab md-fab-bottom-right" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.New}}</md-tooltip>
  <md-icon md-font-icon="fa fa-plus fa-lg tc-white" aria-label="{{UI.message.Buttons.New}}"></md-icon>
</md-button>
