<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>{{title}}</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <div class="dialog__content p++">
      <form name="myForm">
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
            <md-input-container class="md-block">
              <label>Aula</label>
              <input required name="aula" ng-model="model.aula">
              <div ng-messages="myForm.aula.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex-item>
            <md-input-container class="md-block">
              <label>Horario</label>
              <input required name="horario" ng-model="model.horario">
              <div ng-messages="myForm.horario.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
            <md-input-container class="md-block">
              <label>Facultad</label>
              <input required name="facultad" ng-model="model.facultad">
              <div ng-messages="myForm.facultad.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex-item>
            <md-input-container class="md-block">
              <label>Escuela</label>
              <input required name="escuela" ng-model="model.escuela">
              <div ng-messages="myForm.escuela.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
      </form>
    </div>

    <div class="dialog__actions">
      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
