<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>{{title}}</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <div class="dialog__content p++">
      <form name="myForm">
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
            <md-input-container class="md-block">
              <label>Aula</label>
              <input required name="aula" ng-model="model.aula.nombre">
              <div ng-messages="myForm.aula.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex-item>
            <md-input-container class="md-block">
              <label>Hora Inicio</label>
              <input required name="horainicio" ng-model="model.horainicio" date-time-picker-input display-mode="time" />
              <!--time-date-picker ng-model="model.horainicio" name="horainicio" compact="true" display-mode="time" class="modal-content"></time-date-picker-->
              <div ng-messages="myForm.horainicio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex-item>
            <md-input-container class="md-block">
              <label>Hora Fin</label>
              <input required name="horafin" ng-model="model.horafin" date-time-picker-input display-mode="time">
              <!--time-date-picker ng-model="model.horafin" name="horafin" compact="true" display-mode="time" class="modal-content"></time-date-picker-->
              <div ng-messages="myForm.horafin.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div flex-container="row" flex-gutter="24">
          <div flex-item>
            <md-input-container class="md-block">
              <label>Facultad</label>
              <md-select ng-model="model._facultad" ng-model-options="{trackBy: '$value._id'}" ng-change="LoadEcuelas()">
                <md-option ng-repeat="facultad in facultades" ng-value="facultad">{{facultad.nombre}}</md-option>
              </md-select>
              <div ng-messages="myForm.facultad.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex-item>
            <md-input-container class="md-block">
              <label>Escuela</label>
              <md-select ng-model="model._escuela" ng-model-options="{trackBy: '$value._id'}">
                <md-option ng-repeat="escuela in escuelas" ng-value="escuela">{{escuela.nombre}}</md-option>
              </md-select>
              <div ng-messages="myForm.escuela.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
      </form>
    </div>

    <div class="dialog__actions">
      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </div>
  </form>
</md-dialog>
