<md-dialog aria-label="List dialog">
<md-dialog-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>{{title}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button class="md-icon-button" aria-label="More" ng-click="Cancel()">
       <md-icon md-font-icon="fa fa-close fa-lg"></md-icon>
     </md-button>
    </div>
  </md-toolbar>


    <div class="dialog__content p++">
    <form name="myForm" >
     <div  flex-container="row" flex-gutter="24">
            <div flex-item>
                <md-input-container class="md-block">
                  <label>Nombre</label>
                  <input required name="nombre" ng-model="model.nombre">
                  <div ng-messages="myForm.nombre.$error"  ng-if="submited">
                    <div ng-message="required">{{message.Required}}</div>
                  </div>
                </md-input-container>
            </div>
             <div flex-item>
               <md-input-container class="md-block">
                 <label>Resolución</label>
                 <input required name="resolucion" ng-model="model.resolucion">
                 <div ng-messages="myForm.resolucion.$error"  ng-if="submited">
                   <div ng-message="required">{{message.Required}}</div>
                 </div>
               </md-input-container>
            </div>
            <div flex-item>
              <md-input-container class="md-block">
                <label>Fecha de Resolución</label>
                <input required name="nombre" ng-model="model.fecharesolucion">
                <div ng-messages="myForm.nombre.$error"  ng-if="submited">
                  <div ng-message="required">{{message.Required}}</div>
                </div>
              </md-input-container>
            </div>
        </div>

        <div  flex-container="row" flex-gutter="24">
            <div flex-item>
              <md-input-container>
                <label>Facultad</label>
                <input type="text" ng-model="filters.facultad.nombre" name="facultad" readonly="true" required>
              </md-input-container>
            </div>
            <div flex-item>
              <md-input-container>
                <label>Escuela</label>
                <input type="text" ng-model="filters.facultad.nombre" name="facultad" readonly="true" required>
              </md-input-container>
            </div>

        </div>
        </form>
    </div>

    <div class="dialog__actions">
         <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
         <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </div>
  </md-dialog-content>
</md-dialog>





<lx-dialog class="dialog dialog--l text-left" id="form" onclose="closingDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-50 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{TitleForm}}
            </span>

            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="dialog__content p++">
    <form name="myForm" >
    <div  flex-container="row" flex-gutter="24">
            <div flex-item>
                <lx-text-field label="Facultad" >
                    <input type="text" ng-model="filters.facultad.nombre" name="facultad" readonly="true" required>
                </lx-text-field>
                <span ng-messages="myForm.facultad.$error" class="tc-red-500" ng-if="submited">
                  <small ng-message="required">{{errors.required}}</small>
                </span>
            </div>
            <div flex-item>
                <lx-text-field label="Escuela" >
                    <input type="text" ng-model="filters.escuela.nombre" name="escuela" readonly="true" required>
                </lx-text-field>
                 <span ng-messages="myForm.escuela.$error" class="tc-red-500" ng-if="submited">
                  <small ng-message="required">{{errors.required}}</small>
                </span>
            </div>
        </div>
        <div  flex-container="row" flex-gutter="24">
            <div flex-item>
                <lx-text-field label="Nombre">
                    <input type="text" ng-model="model.nombre" name="nombre" required>
                </lx-text-field>
                <span ng-messages="myForm.nombre.$error" class="tc-red-500" ng-if="submited">
                  <small ng-message="required">{{errors.required}}</small>
                </span>
            </div>
        </div>

     <div  flex-container="row" flex-gutter="24">
            <div flex-item>
                     <lx-select ng-model="model.periodo" placeholder="Periodo de Inicio" choices="periodos" floating-label>
                        <lx-select-selected>
                            {{ $selected.nombre }}
                        </lx-select-selected>

                        <lx-select-choices>
                            {{ $choice.nombre }}
                        </lx-select-choices>
                    </lx-select>
                    <small ng-if="!model.periodo&&submited"  class="tc-red-500">{{errors.required}}</small>
            </div>
