<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="window-modal-content-md md-padding">
        <div flex  layout="row" layout-sm="row">
            <div flex>
              <md-input-container class="md-block">
                <label>Facultad</label>
                <input required name="facultad" ng-model="escuela._facultad.nombre" readonly>
                <div ng-messages="myForm.facultad.$error"  ng-if="submited">
                  <div ng-message="required">{{message.Required}}</div>
                </div>
              </md-input-container>

            </div>
        </div>
        <div flex  layout="row" layout-sm="row">
          <div flex>
          <md-input-container class="md-block">
            <label>Nombre de Escuela</label>
            <input required name="nombre" ng-model="escuela.nombre" readonly>
            <div ng-messages="myForm.nombre.$error"  ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
          </diV>
        </div>

           <div flex  layout="row" layout-sm="row">

               <div flex>
                 <md-input-container class="md-block">
                   <label>Nombre</label>
                   <input required name="nombre" ng-model="model.nombre">
                   <div ng-messages="myForm.nombre.$error"  ng-if="submited">
                     <div ng-message="required">{{message.Required}}</div>
                   </div>
                 </md-input-container>
               </div>
           </div>
           <div flex  layout="row" layout-sm="column">
             <div flex>
               <md-input-container class="md-block">
                 <label>Periodo</label>
                 <md-select ng-model="model._periodo" ng-model-options="{trackBy: '$value._id'}">
                   <md-option ng-repeat="periodo in periodos" ng-value="periodo">
                     {{periodo.nombre}}
                   </md-option>
                 </md-select>
               </md-input-container>
             </div>
               <div flex>
                 <md-input-container class="md-block">
                   <label>Resolución</label>
                   <input required name="resolucion" ng-model="model.resolucion">
                 </md-input-container>
               </div>
               <div flex>
                 <md-input-container class="md-block">

                   <div ng-messages="myForm.fecha_resolucion.$error"  ng-if="submited">
                     <div ng-message="required">{{message.Required}}</div>
                   </div>
                 </md-input-container>
               </div>
           </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-warn">{{model.estado}}</md-button>
      <span flex></span>
      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
