<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="window-modal-content-sm md-padding">
      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Código</label>
            <input required name="codigo" ng-model="model.codigo" ng-readonly="true">

          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block">
            <label>Alumno</label>
            <input required name="alumno" ng-model="alumno" ng-readonly="true">
          </md-input-container>
        </div>
      </div>
      <div flex layout="row" layput-sm="column">
        <div flex>
          <md-input-container class="md-block">
            <label>Contraseña</label>
            <input type="password" required name="password" ng-model="model.password">
            <div ng-messages="myForm.nombre.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>

        </div>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
