<div ng-include="'views/planestudios/form.html'"></div>
<div class="card" style="min-height:500px">
    <div class="toolbar text-left">
        <div class="toolbar__left mr+++">
            <button class="btn btn--m btn--black btn--icon" ng-click="tableParams.reload()" lx-ripple>
                <i class="fa fa-refresh" ng-class="{'fa-spin':refresh==true}"></i>

            </button>
        </div>

        <span class="toolbar__label fs-title">{{TitleForms.List}}</span>

        <div class="toolbar__right">
            <button class="btn btn--l btn--blue btn--raised" ng-click="New()" ng-disabled="!filters.escuela" lx-ripple>Nuevo</button>

           
        </div>
    </div>

            <div class="p+ fs-body-1 display-block">

            <div  flex-container="row" flex-gutter="24">
	            <div flex-item>
	                 <lx-select ng-model="filters.facultad" placeholder="Facultad" choices="facultades" change="LoadEscuelas(newValue, oldValue)" floating-label>
			            <lx-select-selected>
			                {{ $selected.nombre }}
			            </lx-select-selected>

			            <lx-select-choices>
			                {{ $choice.nombre }}
			            </lx-select-choices>
			        </lx-select>
	            </div>

	           
            </div>
            <div class="data-table-container">
					<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped table-hover table-condensed ">

				        <tbody>
				          <tr ng-repeat="item in $data">
				            <td class="" data-title="'ID'" sortable="id" filter="{'id':'text'}">{{item.id}}</td>
                            <td class="" data-title="'NOMBRE'" sortable="nombre" filter="{'nombre':'text'}">{{item.nombre}}</td>
				            <td class="text-left" data-title="'PERIODO INICIO'" sortable="periodo_id" filter="{'periodo_id':'text'}">{{item.periodo.nombre}}</td>
				            
				            <td class="text-left" data-title="'RESOLUCIÓN'" sortable="resolucion" filter="{'resolucion':'text'}">{{item.resolucion}}</td>
				            <td class="text-left" data-title="'FECHA RESOLUCIÓN'">{{item.fechaResolucion}}</td>
				           <td class="text-left" data-title="'ESTADO'">{{item.estado.nombre}}</td>
				           
                            <td class="" data-title="''" >
                                
                                <lx-dropdown position="right" from-top>
                                    <button class="btn btn--s btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                        <i class="fa fa-bars"></i>
                                    </button>

                                    <lx-dropdown-menu>
                                        <ul>
                                            <li><a ui-sref="app.planestudiosdetalles({id:item.id})" class="dropdown-link"><i class="fa fa-list"></i> Detalles</a></li>
                                            <li><a ng-click="Edit(item)" class="dropdown-link"><i class="fa fa-pencil-square-o"></i> Editar</a></li>
                                            <li><a ng-click="Delete(item)" class="dropdown-link"><i class="fa fa-trash-o"></i> Eliminar</a></li>
                                            
                                        </ul>
                                    </lx-dropdown-menu>
                                </lx-dropdown>
                               
                            </td>
				          </tr>
				        </tbody>
				        <tfoot ng-if="$data.length==0">
                        <tr>
                            <th colspan="7">
                            <div class="p+ m+++ m+++">
                            <span class="fs-subhead tc-black-2 display-block">
                             <h3 class="tc-blue-grey-200">No se encontro ningun resultado :(</h3>
                            </span>
                            </div>
                            </th>
                        </tr>
                        </tfoot>
				      </table>
            </div>
            </div>
        </div>
