<md-sidenav style="overflow:auto" ng-controller="SidenavCtrl" ng-include="'views/blocks/app_sidenav.html'" class="md-sidenav-left md-whiteframe-z2 bg-cyan-900" md-component-id="left">

</md-sidenav>
<div layout="column" flex>
  <md-toolbar ng-include="'views/blocks/app_header.html'" class="app-header">
  </md-toolbar>


  <md-content flex layout="row" class="page-content" layout-align="center start" style="background-color:#f2f2f2">
    <div flex ui-view >
      <div layout="row" ng-include="'views/home.html'" flex layout-fill>

      </div>
    </div>
  </md-content>
</div>
