<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-width:800px;max-height:810px; ">
      <md-content class="md-padding">
        <div flex  layout="row" layout-sm="column">
              <div flex>
              <md-input-container class="md-block">
                <label>Código</label>
                <input required name="codigo" ng-model="model._curso.codigo">

                <div ng-messages="myForm.codigo.$error"  ng-if="submited">
                  <div ng-message="required">{{message.Required}}</div>
                </div>
              </md-input-container>
            </div>
            <div flex>
            <md-input-container class="md-block">
              <label>Nombre del Curso</label>
              <input required name="nombre" ng-model="model._curso.nombre" ng-readonly="true">
              <div ng-messages="myForm.nombre.$error"  ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
            </diV>

        </div>


        <div flex  layout="row" layout-sm="column">
            <div flex>
                 <md-input-container class="md-block">
                   <label>Sumilla</label>
                   <textarea name="sumilla" ng-model="model.sumilla" columns="1" md-maxlength="800" rows="4"></textarea>
                   <div ng-messages="myForm.sumilla.$error"  ng-if="submited">
                     <div ng-message="required">{{message.Required}}</div>
                   </div>
                 </md-input-container>
               </div>

           </div>
      </md-content>
      <div class="dialog__actions">
          <div class="pull-left">
            <md-checkbox ng-model="model.activo">
                 Activo
               </md-checkbox>
          </div>
         <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
         <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

    </md-dialog-actions>
  </form>
</md-dialog>
