<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="window-modal-content-sm">
      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Código</label>
            <input required name="codigo" ng-model="model.codigo">
            <div ng-messages="myForm.codigo.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
        <div flex>

        </div>
      </div>
      <div flex layout="row" layput-sm="column">
        <div flex>
          <md-input-container class="md-block">
            <label>Nombre</label>
            <input required name="nombre" ng-model="model.nombre">
            <div ng-messages="myForm.nombre.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>

        </div>
      </div>

      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-checkbox ng-model="model.activoPeriodo" class="md-block" ng-init="model.activoPeriodo">
            Activo Periodo
          </md-checkbox>
        </div>
        <div flex>
          <md-checkbox ng-model="model.activoEscuela" class="md-block">
            Activo Escuela
          </md-checkbox>
        </div>
      </div>


      <div flex layout="row" layout-sm="column">
        <div flex="100" layout="row" layout-align="end center" flex-sm="100">
          <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
          <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
        </div>
      </div>

    </md-dialog-content>
  </form>
</md-dialog>
