<md-content  class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3><span class="fa fa-user"></span> {{UI.title}}</h3>
  </md-subheader>

  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
      <div flex layout="row" layout-fill>
        <div flex>
          <div flex layout="row">
            Mis Datos
          </div>
          <div flex layout="row">
            Mi COntraseñahhh
          </div>
        </div>
        <div flex>
          <div flex layout="row">
            <md-input-container class="md-block">
              <label>Año</label>
              <input required name="anio" ng-model="model.anio">
              <div ng-messages="myForm.anio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Año</label>
              <input required name="anio" ng-model="model.anio">
              <div ng-messages="myForm.anio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Año</label>
              <input required name="anio" ng-model="model.anio">
              <div ng-messages="myForm.anio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Año</label>
              <input required name="anio" ng-model="model.anio">
              <div ng-messages="myForm.anio.$error" ng-if="submited">
                <div ng-message="required">{{message.Required}}</div>
              </div>
            </md-input-container>
          </div>
          <div flex layout="row">
            dsdsds
          </div>
        </div>
      </div>
    </md-content>
  </div>
</md-content>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="!UI.editMode" ng-click="Edit($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.Edit}}</md-tooltip>
  <md-icon md-font-icon="fa fa-pencil fa-lg tc-white"></md-icon>
</md-button>
<md-button ng-if="UI.editMode" ng-click="Save($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.Save}}</md-tooltip>
  <md-icon md-font-icon="fa  fa-floppy-o fa-lg tc-white"></md-icon>
</md-button>
