<md-content  class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3>{{UI.title}}</h3>
  </md-subheader>

  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <!--tabla: contiene el listado de elementos-->
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
      <div flex layout="row" layout-sm="row">
        <div>
          <md-input-container class="md-block">
            <label>Código</label>

            <input required name="codigo" ng-model="model.codigo" ng-readonly="!UI.editMode">
            <div ng-messages="myForm.codigo.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block">
            <label>Nombres</label>
            <input required name="resolucion" ng-model="model.nombres">
            <div ng-messages="myForm.resolucion.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block">
            <label>Apellidos</label>
            <input required name="resolucion" ng-model="model.apellidos">
            <div ng-messages="myForm.resolucion.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-content>
  </div>
</md-content>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="!UI.editMode" ng-click="Edit($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.Edit}}</md-tooltip>
  <md-icon md-font-icon="fa fa-pencil fa-lg tc-white"></md-icon>
</md-button>
<md-button ng-if="UI.editMode" ng-click="Save($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.Save}}</md-tooltip>
  <md-icon md-font-icon="fa  fa-floppy-o fa-lg tc-white"></md-icon>
</md-button>
