<md-content  class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3><span class="fa fa-user"></span> {{UI.title}}</h3>
  </md-subheader>

  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh" class="md-accent"></md-progress-linear>
      <div flex layout="row" layout-fill>
          <div flex-gt-sm="33" flex="33">
              <div class="mt+ mr+">
                  <strong>Datos Personales:</strong>
                  <br/>
                  <small>Tus datos personales, como tu DNI, nombre, apellido</small>
              </div>
          </div>
          <div flex-gt-sm="33" flex="66">
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>DNI:</label>
                        <md-icon md-font-icon="fa-credit-card" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="documento" ng-model="model._persona.documento" ng-readonly="!editable" ng-maxlength="8" type="number">
                        <div ng-messages="myForm.documento.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>Nombres</label>
                        <md-icon md-font-icon="fa-user" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="nombres" ng-model="model._persona.nombres" ng-readonly="!editable">
                        <div ng-messages="myForm.nombres.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                      </md-input-container>
                  </div>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>Apellidos</label>
                        <md-icon md-font-icon="fa-user" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="apellidos" ng-model="model.apellidos" ng-readonly="!editable">
                        <div ng-messages="myForm.apellidos.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>Sexo</label>
                        <md-icon md-font-icon="fa fa-venus-mars" class="fa s24 md-primary md-hue-1" > </md-icon>
                        <!--md-icon md-font-icon="fa-user" class="fa s24 md-primary md-hue-1"></md-icon-->
                        <md-select class="md-icon-float " ng-model="model._persona.sexo" name="sexo" required ng-disabled="!editable">
                          <md-option ng-repeat="sex in sexo" ng-value="sex">
                            {{sex}}
                          </md-option>
                        </md-select>
                        <div ng-messages="myForm.sexo.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                      <label>Fec. Nacimiento</label>
                      <md-icon md-font-icon="fa-calendar" class="fa s24 md-primary md-hue-1"></md-icon>
                      <input type="date" required name="fechaNacimiento" ng-model="model._persona.fechaNacimiento" ng-readonly="!editable">
                    </md-input-container>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>Lugar de Nacimiento</label>
                        <md-icon md-font-icon="fa-map-marker" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="lugarNacimiento" ng-model="model._persona.lugarNacimiento" ng-readonly="!editable">
                        <div ng-messages="myForm.lugarNacimiento.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>


              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-block">
                        <label>Estado Civil</label>
                        <md-icon md-font-icon="fa-heart" class="fa s24 md-primary md-hue-1"></md-icon>
                        <md-select ng-model="model.estadoCivil" name="estadoCivil" required ng-disabled="!editable">
                          <md-option ng-repeat="estado in estadoscivil" ng-value="estado">
                            {{estado}}
                          </md-option>
                        </md-select>
                        <div ng-messages="myForm.estadoCivil.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
          </div>
      </div>



      <div flex layout="row" layout-fill>
          <div flex-gt-sm="33" flex="33">
              <div class="mt+ mr+">
                  <strong>Datos de Contacto:</strong>
                  <br/>
                  <small>Datos a través de los cuales podemos contactarte</small>
              </div>
          </div>
          <div flex-gt-sm="33" flex="66">
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>E-mail:</label>
                        <!--md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon-->
                        <md-icon md-font-icon="fa-envelope" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="email" ng-model="model.email" ng-readonly="!editable" type = "email">
                        <div ng-messages="myForm.email.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>Teléfono:</label>
                        <md-icon md-font-icon="fa-mobile" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="telefono" ng-model="model.telefono" ng-readonly="!editable" ng-maxlength="12">
                        <div ng-messages="myForm.telefono.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
              <div flex layout="row">
                  <div flex>
                      <md-input-container class="md-icon-float md-block">
                        <label>Dirección</label>
                        <md-icon md-font-icon="fa-map-marker" class="fa s24 md-primary md-hue-1"></md-icon>
                        <input required name="direccion" ng-model="model.direccion" ng-readonly="!editable">
                        <div ng-messages="myForm.direccion.$error" ng-if="submited">
                          <div ng-message="required">{{message.Required}}</div>
                        </div>
                      </md-input-container>
                  </div>
              </div>
          </div>
      </div>

    </md-content>
  </div>
</md-content>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="!UI.editMode" ng-click="Edit($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.Edit}}</md-tooltip>
  <md-icon md-font-icon="fa fa-pencil fa-lg tc-white"></md-icon>
</md-button>
<md-button ng-if="UI.editMode" ng-click="Save($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.Save}}</md-tooltip>
  <md-icon md-font-icon="fa  fa-floppy-o fa-lg tc-white"></md-icon>
</md-button>
