<md-subheader class="md-primary " style="margin-right: 0">
<h3><a ui-sref="app.planestudios"><i class="fa fa-arrow-left tc-green-500"></i></a> {{UI.title}} {{UI.planestudios._escuela.nombre}} {{UI.planestudios._periodo.anio}}-{{UI.planestudios._periodo.periodo}}</h3>
</md-subheader>
<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="!UI.editMode" ng-click="New($event)" class="md-fab button-floating-bottom" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.New}}</md-tooltip>
  <md-icon md-font-icon="fa fa-plus fa-lg"></md-icon>
</md-button>
<div layout="row" layout-align="center start" layout-margin layout-fill>
<md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">

<!--tabla: contiene el listado de elementos-->
<md-progress-linear md-mode="indeterminate" ng-if="UI.refresh"></md-progress-linear>
<table ng-table="tableParams" show-filter="false" class="table table-hover table-condensed table-striped table-bordered ">
  <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->

  <tbody ng-repeat="group in $groups">
          <tr class="ng-table-group">
            <td>
                <a href class="groupTitle" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                    <strong>Ciclo: {{group.value}} </strong>
                </a>
            </td>
            <td>
              <strong>TOTAL</strong>
            </td>
            <td>
              <strong>{{getCreditosCiclo(group.data)}}</strong>
            </td>
            <td>
                <strong>{{getHorasCiclo(group.data)}}</strong>
            </td>
            <td colspan="{{$columns.length-4}}">

            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="item in group.data">
            <td class="text-left" data-title="'Curso'" sortable="curso">
              <md-checkbox ng-model="item.active" ng-change="EnabledEdit(item,$groups)">
                {{item._curso.nombre}}
              </md-checkbox>
            </td>
            <td data-title="'Código'" sortable="codigo" filter="{ 'codigo': 'text' }">{{item._curso.codigo}}</td>
            <td data-title="'N° Creditos'">{{item.creditos}}</td>
            <td data-title="'N° Horas'">{{item.horas_total}}</td>
            <td data-title="'N° Horas Teoria'">{{item.horas_teoria}}</td>
            <td data-title="'N° Horas Práctica'">{{item.horas_practica}}</td>
            <td data-title="'N° Horas Laboratorio'">{{item.horas_laboratorio}}</td>

        </tr>

        </tbody>
  <tbody>

</table>
</md-content>
</div>
<!--acciones: se mostraran al seleccionar un elemento del listado-->
<md-fab-speed-dial ng-if="UI.editMode" md-open="false" md-direction="up" class="md-fling button-floating-bottom">
 <md-fab-trigger>
   <md-button aria-label="menu" class="md-fab md-warn">
     <md-icon md-font-icon="fa fa-bars fa-lg tc-white"></md-icon>
   </md-button>
 </md-fab-trigger>
 <md-fab-actions>
   <!--custom actions: Se agregan en el controlador solo cuando es necesario considerar mas opciones para cada elemento de la lista-->
   <md-button ng-repeat="action in UI.customActions" aria-label="{{action.label}}" class="md-fab md-raised md-mini" ng-click="action.onclick($event)">
     <md-tooltip md-direction="left">{{action.label}}</md-tooltip>
     <md-icon md-font-icon="fa {{action.icon}} fa-lg tc-red-500 " aria-label="{{action.label}}"></md-icon>
   </md-button>
   <!--end custom actions-->
   <!--default actions: Acciones por defecto que contendra cada interfaz de mantenimiento-->
   <md-button aria-label="{{UI.message.Buttons.New}}" class="md-fab md-raised md-mini" ng-click="New($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.New}}</md-tooltip>
     <md-icon md-font-icon="fa fa-plus fa-lg tc-red-500" aria-label="{{UI.message.Buttons.New}}"></md-icon>
   </md-button>
   <md-button aria-label="{{UI.message.Buttons.Edit}}" class="md-fab md-raised md-mini" ng-click="Edit($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.Edit}}</md-tooltip>
     <md-icon md-font-icon="fa fa-pencil fa-lg tc-red-500" aria-label="{{UI.message.Buttons.Edit}}"></md-icon>
   </md-button>
   <md-button aria-label="{{UI.message.Buttons.Delete}}" class="md-fab md-raised md-mini" ng-click="Delete($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.Delete}}</md-tooltip>
     <md-icon md-font-icon="fa fa-trash fa-lg tc-red-500" aria-label="{{UI.message.Buttons.Delete}}"></md-icon>
   </md-button>
   <!--end default actions-->
 </md-fab-actions>
</md-fab-speed-dial>
