<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="window-modal-content-sm md-padding">
        <div flex  layout="row" layout-sm="row">
            <div flex>
              <md-input-container class="md-block">
                <label>Código de Compromiso</label>
                <input required name="facultad" ng-model="model.codigo" readonly>
                <div ng-messages="myForm.facultad.$error"  ng-if="submited">
                  <div ng-message="required">{{message.Required}}</div>
                </div>
              </md-input-container>

            </div>
            <div flex>
              <md-input-container class="md-block">
                <label>Monto Deuda</label>
                <input type="text"  required name="importe" ng-model="model.importe" readonly="true">

              </md-input-container>
            </div>
            <div flex>
              <md-input-container class="md-block">
                <label>Saldo</label>
                <input type="text"  required name="saldo" ng-model="model.saldo" readonly="true">

              </md-input-container>
            </div>
        </div>
               <div flex  layout="row" layout-sm="column">

             <div flex>
               <md-input-container class="md-block">
                 <label>Fecha</label>
                 <input type="date"  required name="fecha" ng-model="model.fecha" >

               </md-input-container>
             </div>
               <div flex>
                 <md-input-container class="md-block">
                   <label>Monto Pago</label>
                   <input required name="monto" ng-model="model.monto" pattern="^\d+(\.|\,)\d{2}$">
                   <div ng-messages="myForm.monto.$error" >
                     <div ng-message="required">{{message.Required}}</div>
                      <div ng-message="pattern">Ingrese un monto valido (##.##)</div>
                   </div>
                 </md-input-container>
               </div>

           </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">

      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
