<md-dialog aria-label="{{title}}">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="Cancel()">
          <md-icon md-font-icon="fa fa-close fa-lg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="window-modal-content-sm">
      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Periodo</label>
            <input required name="periodo" ng-model="_periodo.nombre" readonly>
            <div ng-messages="myForm.periodo.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>

        <div flex>
          <md-input-container class="md-block">
            <label>Nombre de Escuela</label>
            <input required name="escuela" ng-model="_escuela.nombre" readonly>
            <div ng-messages="myForm.escuela.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </diV>
      </div>


      <div flex layout="row" layout-sm="row">
        <div flex>
          <md-input-container class="md-block">
            <label>Parametro</label>
            <md-select ng-model="model.parametro" ng-model-options="{trackBy: '$value._id'}">
              <md-option ng-repeat="param in parametros" ng-value="param">
                {{param.nombre}}
              </md-option>
            </md-select>
            <div ng-messages="myForm.parametro.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>

        <div flex>
          <md-input-container class="md-block">
            <label>Valor</label>
            <input required name="valor" ng-model="model.valor">
            <div ng-messages="myForm.valor.$error" ng-if="submited">
              <div ng-message="required">{{message.Required}}</div>
            </div>
          </md-input-container>
        </div>
      </div>


    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-checkbox ng-model="model.activo">
        Activo
      </md-checkbox>
      <span flex></span>
      <md-button class="md-raised" ng-click="Cancel()">{{Buttons.Cancel}}</md-button>
      <md-button class="md-raised md-primary" ng-click="Save(myForm)">{{Buttons.Save}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
