<md-content  class="page-content" layout-align="center start" style="background-color:#f2f2f2">
  <md-subheader class="md-primary " style="margin-right: 0">
    <h3>{{UI.title}}</h3>
  </md-subheader>

  <div layout="row" layout-align="center start" layout-margin layout-fill>
    <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
      <!--tabla: contiene el listado de elementos-->
      <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh"></md-progress-linear>

      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
            <md-tab label="Parametros por Escuela">
              <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
                <div  flex-container="row" flex-gutter="24">
                  <div flex-item>
                    <md-input-container class="md-block">
                      <label>Facultad</label>
                      <md-select ng-model="filter._facultad" ng-model-options="{trackBy: '$value._id'}" ng-change="LoadEcuelas()">
                        <md-option ng-repeat="fac in facultades" ng-value="fac">
                          {{fac.nombre}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div flex-item>
                    <md-input-container class="md-block">
                      <label>Escuela</label>
                      <md-select ng-model="filter._escuela" ng-model-options="{trackBy: '$value._id'}" >
                        <md-option ng-repeat="escuela in escuelas" ng-value="escuela">
                          {{escuela.nombre}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div flex-item>
                    <md-input-container class="md-block">
                      <label>Periodos</label>
                      <md-select ng-model="filter._periodo" ng-model-options="{trackBy: '$value._id'}" ng-change="ListParametros()">
                        <md-option ng-repeat="periodo in periodos" ng-value="periodo">
                          {{periodo.nombre}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>

                <!--tabla: contiene el listado de elementos-->
                <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh"  class="md-accent"></md-progress-linear>
                <div class="table-responsive">
                  <table ng-table="tableParamsParametros" show-filter="false" class="table table-hover table-condensed table-striped table-bordered ">
                    <tbody>
                      <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->
                      <tr ng-repeat="item in $data" ng-click="item.active=!item.active;EnabledEdit(item)" ng-class="{'table-selected-row bgc-teal-50':item.active}">
                        <td style="width:30px;">
                          <span class="fa fa-square  fa-lg tc-blue-grey-50" ng-class="{'fa-check-square tc-{{$root.color.accent}}-500':item.active}"></span>
                        </td>

                        <td class="text-left" data-title="'Nombre de Parámetro'" sortable="">{{item._parametro.nombre}}</td>
                        <td class="text-left" data-title="'Valor de Parámetro'" sortable="">{{item.valor}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Procesos por Escuela">
                <md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
                  <div  flex-container="row" flex-gutter="24">
                    <div flex-item>
                      <md-input-container class="md-block">
                        <label>Facultad</label>
                        <md-select ng-model="filter._facultad" ng-model-options="{trackBy: '$value._id'}" ng-change="LoadEcuelas()">
                          <md-option ng-repeat="fac in facultades" ng-value="fac">
                            {{fac.nombre}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div flex-item>
                      <md-input-container class="md-block">
                        <label>Escuela</label>
                        <md-select ng-model="filter._escuela" ng-model-options="{trackBy: '$value._id'}" >
                          <md-option ng-repeat="escuela in escuelas" ng-value="escuela">
                            {{escuela.nombre}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>

                    <div flex-item>
                      <md-input-container class="md-block">
                        <label>Periodos</label>
                        <md-select ng-model="filter._periodo" ng-model-options="{trackBy: '$value._id'}" ng-change="ListProcesos()">
                          <md-option ng-repeat="periodo in periodos" ng-value="periodo">
                            {{periodo.nombre}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>

                  <!--tabla: contiene el listado de elementos-->
                  <md-progress-linear md-mode="indeterminate" ng-if="UI.refresh"  class="md-accent"></md-progress-linear>
                  <div class="table-responsive">
                    <table ng-table="tableParamsProcesos" show-filter="false" class="table table-hover table-condensed table-striped table-bordered ">
                      <tbody>
                        <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->
                        <tr ng-repeat="item in $data" ng-click="item.active=!item.active;EnabledEdit(item)" ng-class="{'table-selected-row bgc-teal-50':item.active}">
                          <td style="width:30px;">
                            <span class="fa fa-square  fa-lg tc-blue-grey-50" ng-class="{'fa-check-square tc-{{$root.color.accent}}-500':item.active}"></span>
                          </td>

                          <td class="text-left" data-title="'Nombre de Proceso'" sortable="">{{item._proceso.nombre}}</td>
                          <td class="text-left" data-title="'Fecha Inicio'" sortable="">{{item.inicio}}</td>
                          <td class="text-left" data-title="'Fecha Fin'" sortable="">{{item.fin}}</td>
                          <td class="text-left" data-title="'Estado'" sortable="">{{item.estado}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </md-content>
            </md-tab>

          </md-tabs>

    </md-content>
  </div>
</md-content>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="!UI.editMode" ng-click="New($event)" class="md-fab md-fab-bottom-right" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">{{UI.message.Buttons.New}}</md-tooltip>
  <md-icon md-font-icon="fa fa-plus fa-lg tc-white"></md-icon>
</md-button>


<!--acciones: se mostraran al seleccionar un elemento del listado-->
<md-fab-speed-dial ng-if="UI.editMode" md-open="false" md-direction="up" class="md-fling md-fab-bottom-right">
 <md-fab-trigger>
   <md-button aria-label="menu" class="md-fab">
     <md-icon md-font-icon="fa fa-bars fa-lg tc-white"></md-icon>
   </md-button>
 </md-fab-trigger>

 <md-fab-actions>
   <!--default actions: Acciones por defecto que contendra cada interfaz de mantenimiento-->
   <md-button aria-label="{{UI.message.Buttons.New}}" class="md-fab md-raised md-mini" ng-click="New($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.New}}</md-tooltip>
     <md-icon md-font-icon="fa fa-plus fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.New}}"></md-icon>
   </md-button>
   <md-button aria-label="{{UI.message.Buttons.Edit}}" class="md-fab md-raised md-mini" ng-click="Edit($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.Edit}}</md-tooltip>
     <md-icon md-font-icon="fa fa-pencil fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.Edit}}"></md-icon>
   </md-button>
   <md-button aria-label="{{UI.message.Buttons.Delete}}" class="md-fab md-raised md-mini" ng-click="Delete($event)">
     <md-tooltip md-direction="left">{{UI.message.Buttons.Delete}}</md-tooltip>
     <md-icon md-font-icon="fa fa-trash fa-lg tc-{{$root.color.accent}}-500" aria-label="{{UI.message.Buttons.Delete}}"></md-icon>
   </md-button>
   <!--end default actions-->
 </md-fab-actions>
</md-fab-speed-dial>
