<md-subheader class="md-primary " style="margin-right: 0">
<h3>{{UI.title}}</h3>
</md-subheader>

<div layout="row" layout-align="center start" layout-margin layout-fill>
<md-content flex class="md-padding page-content md-whiteframe-4dp" style="max-width:1020px;">
  <div  flex-container="row" flex-gutter="24">
      <div flex-item>
          <md-input-container class="md-block">
            <label>Facultad</label>
            <md-select ng-model="filter._facultad" ng-model-options="{trackBy: '$value._id'}" ng-change="LoadEcuelas()">
              <md-option ng-repeat="fac in facultades" ng-value="fac">
                {{fac.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
      </div>
      <div flex-item>
          <md-input-container class="md-block">
            <label>Escuela</label>
            <md-select ng-model="filter._escuela" ng-model-options="{trackBy: '$value._id'}" ng-change="ListPlanEstudios()">
              <md-option ng-repeat="escuela in escuelas" ng-value="escuela">
                {{escuela.nombre}}
              </md-option>
            </md-select>
          </md-input-container>
      </div>
  </div>
<!--tabla: contiene el listado de elementos-->
<md-progress-linear md-mode="indeterminate" ng-if="UI.refresh"></md-progress-linear>
<table ng-table="tableParams" show-filter="false" class="table table-hover table-condensed table-bordered ">
  <!-- En la mayoria de los casos solo sera necesario agregar o modificar la información de las columnas -->

  <tbody ng-repeat="group in $groups">
          <tr class="ng-table-group">
            <td colspan="{{$columns.length}}">
                <a href class="groupTitle" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                    <strong>Ciclo: {{group.value}} </strong>
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="item in group.data" ng-class="{'tc-green-500 fs-body-2':item.existsAsignatura}">
            <td class="text-left" data-title="'Curso'" sortable="curso">
              <md-checkbox ng-model="item.active" ng-change="EnabledEdit(item,$groups)">
                {{item._curso.nombre}}
              </md-checkbox>
            </td>
            <td data-title="'Código'" sortable="codigo" filter="{ 'codigo': 'text' }">{{item._curso.codigo}}</td>
            <td data-title="'N° Creditos'">{{item.creditos}}</td>
            <td data-title="'N° Horas'">{{item.total_horas}}</td>
            <td data-title="'N° Horas Teoria'">{{item.horas_teoria}}</td>
            <td data-title="'N° Horas Práctica'">{{item.horas_practica}}</td>
            <td data-title="'N° Horas Laboratorio'">{{item.horas_laboratorio}}</td>
            <td data-title="'Revisión'">
              <span class="fa-stack" ng-if="item.existsAsignatura">
                <i class="fa fa-square fa-stack-2x tc-green-500"></i>
                <i class="fa fa-check  fa-stack-1x fa-inverse tc-white"></i>
              </span>
            </td>

        </tr>

        </tbody>
  <tbody>

</table>
<table class="table table-bordered table-striped" ng-if=" UI.asignaturasNoexistentes.length>0">
  <thead>
    <tr>
      <th>
        Asignaturas no Encontradas
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="asignatura in UI.asignaturasNoexistentes">
      <td>
        {{asignatura._curso.nombre}}
      </td>
    </tr>
  </tbody>
</table>
<div  flex-container="row" flex-gutter="24">
    <div flex-item>
<md-input-container class="md-block">
  <label>Comentarios</label>
  <textarea ng-model="user.biography" columns="1" md-maxlength="150" rows="3"></textarea>
</md-input-container>
</md-content>
</div>
</DIV>
</div>

<!-- Button New: solo visible cuando ningun elemento de la lista ha sido seleccionado-->
<md-button ng-if="UI.editMode" ng-click="RevisarPlan($event)" class="md-fab button-floating-bottom" aria-label="{{UI.message.Buttons.New}}" >
  <md-tooltip md-direction="left">Validar Silabus</md-tooltip>
  <md-icon md-font-icon="fa fa fa-eye fa-lg"></md-icon>
</md-button>
<!--acciones: se mostraran al seleccionar un elemento del listado-->
<md-fab-speed-dial ng-if="!UI.editMode" md-open="false" md-direction="up" class="md-fling button-floating-bottom">
 <md-fab-trigger>
   <md-button aria-label="menu" class="md-fab md-warn">
     <md-tooltip md-direction="left">Opciones</md-tooltip>
     <md-icon md-font-icon="fa fa-navicon fa-lg tc-white"></md-icon>
   </md-button>
 </md-fab-trigger>
 <md-fab-actions>
   <md-button ng-if="!UI.editMode" ng-click="RevisarPlan($event)" class="md-fab md-raised md-mini"  aria-label="{{UI.message.Buttons.New}}" >
     <md-tooltip md-direction="left">Validar Plan de Estudios</md-tooltip>
     <md-icon md-font-icon="fa fa-check fa-lg tc-red-500"></md-icon>
   </md-button>
   <md-button ng-if="!UI.editMode" ng-click="Print($event)" class="md-fab md-raised md-mini"  aria-label="{{UI.message.Buttons.New}}" >
     <md-tooltip md-direction="left">Imprimir</md-tooltip>
     <md-icon md-font-icon="fa fa-print fa-lg tc-red-500"></md-icon>
   </md-button>

 </md-fab-actions>
</md-fab-speed-dial>
